<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
</head>
<body>
    <div class="container">
        <div class="col-6" style="margin: 20px auto">
            <div class="card">
                <div class="card-header">Query</div>
                <div class="card-body">
                    <form action="/save" class="" method="POST">
                        <div class="form-group">
                            <label for="">Enter Game Name</label>
                            <input class="form-control" type="text" name="game_name" id="">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="">Enter Game rank</label>
                            <input class="form-control" type="number" name="game_rank" id="">
                        </div>
            
                        <select name="" id="">
                            {% for o in objectProperties %}
                                <option value="">{{o.name}}</option>
                            {% endfor %}
                            
                        </select>
                        <br>
                        <div class="form-group">
                            <label for="">Enter Game rating</label>
                            <input class="form-control" type="text" name="game_rating" id="">
            
                            
                            <select name="" id="">
                                {% for r in ratings %}
                                    <option value="">{{ r.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <h2>Classes from ontology</h2>
        <p>{{cl}}</p>
        <h2>Games from ontology</h2>
        <p>{{games}}</p>
        <h2>Ranks from ontology</h2>
        <p>{{ranks}}</p>
        <h2>Ratings from ontology</h2>
        <p>{{ratings}}</p>
    

    </div>
</body>
</html>