<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
</head>
<style>
    .hidden {
  display: none;
}

</style>
<body>
    <div class="container">
        <div class="col-6" style="margin: 20px auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span>Classes</span>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                                {% for c in cl %}
                                        <option value="{{ c.name }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <span>Properties</span>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                                {% for o in objectProperties %}
                                    <option value="{{o.name}}">{{o.name}}</option>
                                {% endfor %}
                                {% for d in dataProperties %}
                                    <option value="{{d.name}}">{{d.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <span>Ratings</span>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                                {% for r in ratings %}
                                        <option value="{{r.name}}">{{ r.name|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <span>Games</span>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                                {% for r in games %}
                                        <option value="{{r.name}}">{{ r.name|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
        
                    </div>
                </div>
            </div>
            <br>


            <div class="card">
                <div class="card-body">
                    <form action="/query" method="post">
                        <textarea name="sparql" id="" cols="30" rows="10" class="form-control" placeholder="Write a SPARQL query"></textarea>
                        <br>
                        <div style="text-align: center;">
                            <button class="btn btn-primary" type="submit">Run</button>
                        </div>
                    </form>
                </div>
            </div>
            {% if results|length > 0 %}
            <br>
            <table class="table table-bordered table-hover">
                <tbody>
                    {% for r in results %}
                        <tr>
                            <td>{{ r }}</td>
                        </tr>        
                    {% endfor %}
                </tbody>
            </table>
            <div style="text-align: right">
                <form action="/clear" method="post">
                    <button class="btn btn-secondary" type="submit">Clear</button>
                </form>
            </div>
            {% endif %}

            <!-- <div class="card">
                <div class="card-header">
                    Game queries
                </div>
                <div class="card-body">
                    <form action="/query" method="post">
                        <label for="">Class</label>
                        <select name="q_class" id="classDropdown" class="form-control">
                            <option value=""></option>
                            {% for c in cl %}
                                    <option value="{{ c.name }}">{{ c.name }}</option>
                            {% endfor %}
                        </select>
                        <div id="objectDropdown" class="hidden">
                            <br>
                            <label for="">Properties</label>
                            <select name="objectProperty" id="propertiesDropdown" class="form-control">
                                <option value=""></option>
                                {% for o in objectProperties %}
                                    <option value="{{o.name}}">{{o.name}}</option>
                                {% endfor %}
                                {% for d in dataProperties %}
                                    <option value="{{d.name}}">{{d.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="ratingDropdown" class="hidden">
                            <br>
                            <label for="">Rating</label>
                            <select name="q_rating" id="" class="form-control">
                                <option value=""></option>
                                {% for r in ratings %}
                                        <option value="{{r.name}}">{{ r.name|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="inputDropdown" class="hidden">
                            <br>
                            <input type="text" class="form-control" name="q_rank" onkeyup="console.log(this.value);">
                        </div>
                        <br>
                        <button class="btn btn-primary">Query</button>
                    </form>
                </div>
            </div> -->
        </div>

    
    </div>
</body>
<script>
    $(document).ready(function() {

        // Listen for changes to the first dropdown
        $('#classDropdown').change(function() {
            // Get the selected value
            var selectedValue = $(this).val();

            console.log(selectedValue);

            // Show/hide the other dropdowns based on the selected value
            if (selectedValue == 'Game') {
                $('#objectDropdown').removeClass('hidden');
            } else if (selectedValue == 'Rating') {

            }
        });

        // Listen for changes to the first dropdown
        $('#propertiesDropdown').change(function() {
            // Get the selected value
            var selectedValue = $(this).val();
            console.log(selectedValue);
            // Show/hide the other dropdowns based on the selected value
            if (selectedValue == 'hasRating') {
            $('#ratingDropdown').removeClass('hidden');
            } else if (selectedValue == 'isRanked' || selectedValue == 'genre') {
            $('#inputDropdown').removeClass('hidden');
            }
        });

    });

</script>
</html>